<div class="container">
    <div class="row">
        <%= render 'category', categories: @categories %>
        <div class="col-lg-10 mt-5">
            <div class="row">
                <div class="col-lg-5 text-center">
                    <%= image_tag @product.product_image, size: "280x200" %>
                </div>
                <div class="col-lg-7">
                    <table class="table table-borderless">
                        <tr><td><h3 class="font-weight-bold"><%= @product.name %></h3></td></tr>
                        <tr><td><%= @product.introduction %></td></tr>
                        <tr>
                            <td>
                                <h4 class="font-weight-bold d-inline-block">
                                    ¥ <%= @product.add_tax_price.to_s(:delimited) %>
                                </h4>
                                <p class="h6 d-inline-block">(税込)</p>
                            </td>
                        </tr>
                        <% if @product.is_active %>
                            <tr><td class="text-success">販売中</td></tr>
                            <% if current_customer %>
                                <%= form_with model: @cart_product, url: cart_products_path, method: :post do |f| %>
                                    <tr>
                                        <td class="d-inline-block"><%= f.select :quantity, *[1..10], include_blank: "個数選択", required: true %></td>
                                        <%= f.hidden_field :product_id, :value => @product.id %>
                                        <td class="d-inline-block ml-5"><%= f.submit "カートに入れる", class: "btn btn-success" %></td>
                                    </tr>
                                <% end %>
                            <% end %>
                               
                        <% else %>
                            <tr><td class="text-danger">販売停止中</td></tr>
                        <% end %>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>