<div id="carouselExampleInterval" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active" data-interval="10000">
          　<%= image_tag 'top_images/top_cake7.jpg', size: "600x400", class:"d-block w-100 rounded" %>
        </div>
        <div class="carousel-item" data-interval="10000">
          　<%= image_tag 'top_images/top_cake6.jpg', size: "600x400", class:"d-block w-100 rounded" %>
        </div>
        <div class="carousel-item" data-interval="10000">
          　<%= image_tag 'top_images/top_cake9.jpg', size: "600x400", class:"d-block w-100 rounded" %>
        </div>
        <div class="carousel-item" data-interval="10000">
          　<%= image_tag 'top_images/top_cake10.jpg', size: "600x400", class:"d-block w-100 rounded" %>
        </div>
        <div class="carousel-item" data-interval="10000">
          　<%= image_tag 'top_images/top_cake11.jpg', size: "600x400", class:"d-block w-100 rounded" %>
        </div>
        <div class="carousel-item" data-interval="10000">
          　<%= image_tag 'top_images/top_cake12.jpg', size: "600x400", class:"d-block w-100 rounded" %>
        </div>
        <div class="carousel-item" data-interval="10000">
          　<%= image_tag 'top_images/top_chef.jpg', size: "600x400", class:"d-block w-100 rounded" %>
        </div>
        <div class="carousel-item" data-interval="10000">
          　<%= image_tag 'top_images/top_chef2.jpg', size: "600x400", class:"d-block w-100 rounded" %>
        </div>
        <div class="carousel-caption d-none d-md-block top-message">
            <%= image_tag "logo_image.png" %>
            <p>ようこそ、ながのCAKEへ！<br>このサイトは、ケーキ販売のECサイトになります。<br>
                会員でない方も商品の閲覧はできますが、<br>購入には会員登録が必要になります。
            </p>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-target="#carouselExampleInterval" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    </button>
    <button class="carousel-control-next" type="button" data-target="#carouselExampleInterval" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    </button>
</div>