<div class="container">
    <div class="row">
        <div class="col">
            <h4 class="my-3 ml-4">ジャンル一覧・追加</h4>
            <div class="my-3 ml-4">
                <% if @category.errors.any? %>
                    <ul class="alert alert-danger" role="alert">
                        <h6 class="alert-heading">
                            <%= @category.errors.count %>件のエラーが発生しました
                        </h6>
                        <% @category.errors.full_messages.each do |message| %>
                            <li><%= message %></li>
                        <% end %>
                    </ul>
                <% end %>
                <%= form_with model: @category, url: admin_categories_path do |f| %>
                    <div class="mr-5 d-inline-block">
                        <%= f.label :name, "ジャンル名", class:"font-weight-bold" %>
                    </div>
                    <div class="mr-5 d-inline-block">
                        <%= f.text_field :name, placeholder:"ジャンル名" %>
                    </div>
                    <%= f.submit "新規登録", class:"btn btn-outline-secondary mb-2" %>
                <% end %>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-5">
            <table class="table table-inverse ml-2">
                <thead class="font-weight-bold bg-light">
                    <tr>
                        <th class="text-center">ジャンル</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <% @categories.each do |category| %>
                        <tr>
                            <td class="align-middle"><%= category.name %></td>
                            <td class="text-center">
                                <%= link_to "編集する", edit_admin_category_path(category.id), class:"btn btn-outline-secondary" %>
                            </td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>