<div class="container center-block">
  <h4 class="mt-5 ml-5"><span class="bg-light">注文情報入力</span></h4>
    <div class="row">
      <div class="col">
        <!--支払い方法選択フォーム-->
        <%= form_with model: @order, url: check_orders_path, local:true do |f| %>
          <div class="pay_type">
            <strong>支払方法</strong></br>
            <div class="form-group pl-5">
              <!--クレジットカード選択欄-->
              <%= f.radio_button :pay_type, Order.pay_types.key(0) %>
              <%= f.label :pay_type_credit_card, Order.pay_types_i18n[:credit_card] %></br>
              <!--銀行振込選択欄-->
              <%= f.radio_button :pay_type, Order.pay_types.key(1) %>
              <%= f.label :pay_type_transfer, Order.pay_types_i18n[:transfer] %>
            </div>
          </div>
          <!--お届け先選フォーム-->
          <div class="delivery_address">
            <strong>お届け先</strong></br>

            <div class="text-danger">
              <%= flash[:notice] %>
            </div>

            <div class="form-group pl-5">
              <%= f.radio_button :select_address, 0 ,checked: true %>
              <%= f.label :select_address_1, "ご自身の住所" %>
                <p class="select pl-5">
                  〒<%= @customer.postcode %>
                  <%= @customer.address %></br>
                  <%= @customer.last_name %><%= @customer.first_name %>                  </p>
                <!--登録済み住所選択欄-->
              <% if current_customer.addresses.present? %>
                <%= f.radio_button :select_address, 1 %>
                <%= f.label :select_address, "登録済み住所から選択" %>
                  <p class="select ml-5">
                    <%= f.select :address_id, options_from_collection_for_select(@customer.addresses, :id, :address_display) %>
                  </p>
              <% else %>
                <p>＊登録済み住所は配送先登録後に選択できます。</p>
              <% end %>

              <!--新しいお届け先登録欄-->
              <%= f.radio_button :select_address, 2 %>
              <%= f.label :select_address, "新しいお届け先" %>
                <p class="select pl-5">
                  <%= f.label :postcode, "郵便番号(ハイフンなし)" %>
                  <%= f.text_field :postcode, :size=>"25" %>
                  </br>
                  <%= f.label :address, "住所" %>
                  <%= f.text_field :address, :size=>"50" %>
                  </br>
                  <%= f.label :name, "宛名" %>
                  <%= f.text_field :name, :size=>"25" %>
                </p>
            </div>
          </div>
        <!--確認画面移行ボタン-->
          <div class="text-center">
            <%= f.submit "確認画面へ進む", class: "btn btn-primary " %>
          </div>
        <% end %>
      </div>
    </div>
</div>