<div class="container">
  <div class="row">
    <div class="col my-5">
      
      <%= flash[:notice] %>
      
      <h2 class= "mt-3">ログイン</h2>
      <h5>会員の方はこちらからログイン</h5>

      <%= form_with model: @customer, url: customer_session_path do |f| %>
      
      <table class="table table-borderless">
        <tr>
          <td><%= f.label :email, "メールアドレス" %></td>
          <td><%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %></td>
        </tr>
          
        <tr>
          <td><%= f.label :password, "パスワード" %></td>
          <td><%= f.password_field :password, class:"form-control" %></td>
        </tr>
          
        <tr>
          <td></td>
          <td><%= f.submit "ログイン", class:"btn btn-primary" %></td>
        </tr>
      </table>

      <% end %>
      
      <h4>会員登録がお済みでない方</h4>
      <%= render "public/shared/links" %>から新規登録を行ってください。
   </div>
  </div>
</div>